<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/css-tooltip.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
        <link rel="stylesheet" href="/css/datatables.min.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script defer data-require="moment.js@2.10.2" data-semver="2.10.2" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script defer src="/js/datatables.min.js"></script>
        <script defer src="/js/script.js"></script>
        <script defer src="/js/bulma-toast.min.js"></script>
        <title><%= title %></title>
    </head>
    <body>
         <nav class="navbar" id="nav-target">
             <div class="navbar-brand">
                 <a class="navbar-item" href="/"><img class="logo" src="/img/pills.svg" alt="Logo"><img class="logo" src="/img/logo.png" alt="logo text"></a>
                 <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMobile">
                    <!-- Remove from accessibility tree -->
                     <span aria-hidden="true"></span>
                     <span aria-hidden="true"></span>
                     <span aria-hidden="true"></span>
                 </a>
             </div>
            <div id="navbarMobile" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item <%= title === 'Drug.io | Home' ? 'active' : '' %>" href="/">Home</a>
                    <a class="navbar-item <%= title === 'Drug.io | View All' ? 'active' : '' %>" href="/drugs">Drugs List</a>
                    <% if(user) { %><a class="navbar-item <%= title === 'Drug.io | Add a Drug' ? 'active' : '' %>" href="/drugs/new">Add Drug</a><% } %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link <%= title === 'Drug.io | About' || title === 'Drug.io | Contact' || title === 'Drug.io | Report'  ? 'active' : '' %>">More</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item <%= title === 'Drug.io | About' ? 'active' : '' %>" href="/about">About</a>
                            <a class="navbar-item <%= title === 'Drug.io | Contact' ? 'active' : '' %>" href="/contact">Contact</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item <%= title === 'Drug.io | Report' ? 'active' : '' %>" href="/report">Report an Issue</a>
                        </div>
                    </div>
                    <% if(user) { %>
                        <a id = "userPage" class="navbar-item" href="/users/<%= user._id %>"><span class="icon"><i class="far fa-user"></i></span>&nbsp;<%= user.name.substring(0, user.name.indexOf(' ')) %></a>
                    <% } %>
                        <form action="/search" method="POST" role="form">
                            <div class="navbar-item">
                            <div class="field">
                                <div class="control has-icons-right">
                                    <input class="input" type="text" name="term" placeholder="Search" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        </form>
                        <div class="navbar-item">
                            <button id="search-button" type="submit"><span class="icon"><i class="fas fa-search"></i></span></button>
                        </div>
                </div>
                <hr class="navbar-divider">
            </div>
            <div class="navbar-end">
                <% if(user) { %>
                    <a class="navbar-item" href="/logout"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>Log Out</a>    
                <% } else { %>
                    <a href="auth/google" class="navbar-item"><span class="icon"><i class="fas fa-sign-in-alt"></i></span>Login with Google</a>
                <% } %>
            </div>
        </nav>
        <main class="pre-footer">