<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href="/css/style.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script defer src="/js/script.js" ></script>
        <title><%= title %></title>
    </head>
    <body>
        <!-- <nav>
            <div class="">
                <ul id="" class="">
                    <li class="<%= title === 'Mongoose Flights' ? 'active' : '' %>"><a href="/">Home</a></li>
                    <li class="<%= title === 'Flights Index' ? 'active' : '' %>"><a href="/flights/">View Flights</a></li>
                    <li class="<%= title === 'Add a Flight' ? 'active' : '' %>"><a href="/flights/new">Add Flight</a></li>
                </ul>
            </div>
        </nav> !-->
        <main>
            <h1 class="center-align"><%= title %></h1>