<%- include('../partials/header') %>
<!-- Function for determining if a character is a vowel -->
<% function isVowel(letter) { %>
   <% return ['a', 'e', 'i', 'o', 'u', 'y'].indexOf(letter.toLowerCase()) !== -1 %>
<% } %> 
<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <%= drug.name %>
            </h1>
            <h2 class="subtitle">
                <% if (isVowel(drug.family[0])) { %>
                    An <%= drug.family.toLowerCase() %>
                <% } else { %>
                    A <%= drug.family.toLowerCase() %>
                <% } %>
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card is-horizontal">
                    <div class="card-image">
                        <figure class="image is-square">
                            <% if(drug.image) { %>
                                <img src="<%= drug.image %>" alt="Image of <%= drug.name %>">
                            <% } else { %>
                                <i class="fas fa-capsules" id="alt-drug" aria-hidden="true"></i>
                            <% } %>
                        </figure>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="content">
                                <div class="media-content">
                                    <p class="title is-4">
                                        <%= drug.name %> - 
                                        <% if(drug.generic === true) { %>
                                            <span>Generic</span>
                                        <% } else { %>
                                            <span>Brand Name</span>
                                        <% } %>
                                    </p>
                                    <p class="subtitle is-6"><%= drug.family %> - Common Dosage: <%= drug.dosage %>mg
                                        <% if (drug.reviews.length) { %>
                                            <% let count = 0; %>
                                            <% drug.reviews.forEach(function(review, idx) { %>
                                                <% if(review.sideEffect) { %>
                                                    <% count += 1; %>
                                                <% } %>
                                            <% }); %>
                                            <% if(count === 0) { %>
                                                - <span class="icon has-text-success" data-tooltip="No side effects reported by users"><i class="fas fa-check-square" aria-hidden="true"></i></span>No Side Effects Reported
                                            <% } else { %>
                                                - <span class="icon has-text-danger" data-tooltip="Adverse side effects reported by individuals"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>Side Effects Reported: <%= count %>
                                            <% } %>
                                        <% } else { %>
                                            - <span class="icon has-text-success" data-tooltip="No side effects reported by users"><i class="fas fa-check-square" aria-hidden="true"></i></span>No Side Effects Reported
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="content"> <!-- FIXME: Can add facts about each of the families -->
                                A member of the <%= drug.family.toLowerCase() %> family, <%= drug.name %> is commonly priced at $<%= drug.price%>. 
                                If you would like to know more, please <a href="#">click here. FIXME: ADD INFO LINKS OR NOT IDK</a>
                                LOREM IPSUM INFO HERE ABOUT THE DRUG PULLED FROM AN API AND INJECTED HERE
                            </div>
                                <% if(user) { %>
                                <div class="liked-container">
                                    <% if(drug.likedCount === 1) { %>
                                        <p class=""><%= drug.likedCount %> person has favorited this drug.</p>
                                    <% } else { %>
                                        <p class=""><%= drug.likedCount %> people have favorited this drug.</p>
                                    <% } %>
                                </div>
                                <% } %>
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item has-text-left" >
                                <% let alreadyFavorited = false; %>
                                <% if(user) { %>
                                    <% user.liked.forEach(function(like, idx) { %>
                                        <% if(like === drug.name) { %>
                                            <% alreadyFavorited = true; %>
                                        <% } %>
                                    <% }); %>
                                <% } %>
                                <% if(user && !alreadyFavorited) { %>
                                    <form class="has-text-centered" action="/drugs/<%= drug._id %>" method="POST">
                                        <button id="fave" type="submit">
                                            <a href="#">
                                                <i class="far fa-heart btn btn-default" aria-hidden="true"></i>
                                                <h1 id="counter">Add to Favorites</h1>
                                            </a>
                                        </button>
                                    </form>
                                <% } else if(!user) { %>
                                    <span class="icon has-text-info"><i class="fas fa-thumbs-up"></i></span> 
                                    <% if(drug.likedCount === 1) { %>
                                        <%= drug.likedCount %> person has favorited this drug.
                                    <% } else { %>
                                        <%= drug.likedCount %> people have favorited this drug.
                                    <% } %>
                                <% } else { %>
                                    <form class="has-text-centered" action="/drugs/<%= drug._id %>?_method=PUT" method="POST">
                                        <button id="fave" type="submit">
                                            <a href="#" id="unfavorite">
                                                <i class="fas fa-heart btn btn-default" aria-hidden="true"></i>
                                                <h1 id="counter">Remove from Favorites</h1>
                                            </a>
                                        </button>
                                    </form>
                                <% } %>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section id="reviews" class="section">
    <h2 class="title is-2 has-text-centered">Reviews</h2>
    <% let alreadyReviewed = false; %>
    <% if(user) { %>
        <% drug.reviews.forEach(function(review, idx) { %>
            <% if(user._id.equals(review.postedBy)) { %>
                <% alreadyReviewed = true; %>
            <% } %>
        <% }); %>
    <% } %>
    <% if(user && alreadyReviewed != true) { %>
        <div class="container" id="posts">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <% if(user) { %>
                            <img src="<%= user.avatarURL %>">
                        <% } else { %>
                            <i class="fas fa-user anonymous" aria-hidden="true"></i>
                        <% } %>
                    </p>
                </figure>
                <div class="media-content">
                    <form action="/drugs/<%= drug._id %>/reviews" method="POST">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" name="content" placeholder="Add a review..."></textarea>
                        </p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <button type="submit" class="button is-info" value="Submit">Submit</button>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <label class="checkbox">
                                    <input name="sideEffect" type="checkbox"> <strong class="is-warning">Side Effects?</strong>
                                </label>
                            </div>
                        </div>
                    </nav>
                    </form>
                </div>
            </article>
        </div>
    <% } else if (!user) { %>
        <div class="container login-review">
            <div class="notification is-info is-light">
                <p>Please login to add a review.</p>
            </div>
        </div>
    <% } else { %>
        <div class="container login-review">
            <div class="notification is-info is-light">
                <p>You have already added a review. Delete the review below to post another.</p>
            </div>
        </div>
    <% } %>
    <% if(drug.reviews.content) { %>
        <div class="container">
            <% drug.reviews.forEach(function(review, idx) { %>
                <div class="box">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <%users.forEach(function(user) { %>
                                <% if(user._id.equals(review.postedBy)) { %>
                                    <img src="<%= user.avatarURL %>">
                                <% } %>
                            <% });  %>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <%users.forEach(function(user) { %>
                                    <% if(user._id.equals(review.postedBy)) { %>
                                        <strong><%= user.name %></strong> - <%= review.createdAt.toLocaleString() %>
                                    <% } %>
                                <% });  %>
                                <br>
                                <%= review.content %>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <span id="liked-comment" class="icon is-small"><i class="far fa-heart" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                    <% if(user) { %>
                        <% if(user._id.equals(review.postedBy)) { %>
                            <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button class="delete is-large" type="submit"></button>
                            </form> 
                        <% } %>
                    <% } %>
                </article>
            </div>
            <% }); %>
        </div>
    <% } else { %>
        <div class="container ">
            <div class="notification is-dark">
                <h5 class="title is-5 has-text-centered">No reviews yet. Add one!</h5>
            </div>
        </div>
        <% } %>
</section>

<%- include('../partials/footer') %>